.sorting
  margin 10px
.list
  @extend .sorting
  .card
    width 100%
    .img-wrapper
      width: 10%
      float left
      .card-img-top
        margin 20px
    .card-body
      width 80%
      float left
.product-th
  .card
    margin: 10px
    width 20%
    float left
    .img-wrapper
      width: 70%
      margin 10px auto